@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #abc4ff;
}

.data-vis-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-chart {
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    -5px -5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}

.data-chart-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #c1d3fe;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

@media all and (max-width: 750px) {
  .data-vis-wrapper {
    display: flex;
    flex-direction: column;
  }
}
